@import "tailwindcss";

/* Define your theme */
@theme {
    --color-primary: #047857;
    --color-secondary: #7C3AED;
    --color-dark: #2E324D;
    --color-light: #F5F7FA;
}

html {
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}